#employee-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#employee-content{
    width: calc(100% - 250px);
    overflow-y: scroll;
}

/* 16141c

 */
.content-dark{
    background-color: #16141c;
}

.content-light{
    background-color: #91959D;
}