#employee-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#employee-content{
    width: calc(100% - 250px);
    overflow-y: scroll;
    border-left: 0.25px solid rgba(100, 100, 100, 0.5);
    border-right: 0.25px solid rgba(100, 100, 100, 0.5);
}

.content-dark{
    background-color: var(--background-color-dark-primary);
}

.content-light{
    background-color: var(--background-color-light-secondary);
}