* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PhysisMedium', sans-serif;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h3, h4, h5, h6{
    font-family: 'PhysisMedium', sans-serif;
}

/* Content Global */
#index{
    display: flex;
    justify-content: center;
    background-color: #24212B;
}

#index .content{
    display: flex;
    height: 100vh;
    max-width: 1920px;
    background-color: #e5e5e5;
    overflow: hidden;
}

/* Button Global Styles */
.primaryButton{
    width: 100px;
    height: 25px;
}

.primaryControlButton{
    width: 60%;
    height: 25px;
    border: 2px solid white;
    border-radius: 5px;
}

/* Search bar */
.search-bar{
    border: none;
    padding: 0 2% 0 2%;
    width: 200px;
}