* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PhysisMedium', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h3, h4, h5, h6{
    font-family: 'PhysisMedium', sans-serif;
}

/* Content Global */
#index{
    background-color: #e5e5e5;
}

#index .content{
    display: flex;
    height: 100vh;
    background-color: #e5e5e5;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Button Global Styles */
.primaryButton{
    width: 100px;
    height: 25px;
}

.primaryControlButton{
    width: 60%;
    height: 25px;
    border: 2px solid white;
    border-radius: 5px;
}