* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SourceSansRegular", serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h3, h4, h5, h6{
    font-family: 'PhysisMedium', sans-serif;
}

/* Content Global */
#index{
    background-color: #e5e5e5;
}

#index .content{
    display: flex;
    height: calc(100vh - 80px);
    background-color: #e5e5e5;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Navigation Global Style */
#navigation{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
}

#navigation .logo-container{
    width: 25%;
    margin-left: 10%;
}

#navigation .link-container{
    width: 50%;
}

#navigation .button-container{
    display: flex;
    justify-content: end;
    width: 25%;
    margin-right: 5%;
}

#company-logo{
    width: 125px;
    height: auto;
}

li{
    list-style: none;
}

/* Button Global Styles */
.primaryButton{
    width: 80px;
    height: 30px;
}