/* Navigation Global Style */
#navigation{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
}

#navigation .logo-container{
    display: flex;
    justify-content: start;
    width: 50%;
    margin-left: 10%;
}

#navigation .button-container{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 10%;
}

#navigation .button-container button{
    margin-right: 2%;
}

#company-logo{
    width: 125px;
    height: auto;
}

li{
    list-style: none;
}