.deadline-wrapper-dark{
    color: white;
    background-color: var(--background-color-dark-secondary);
}

.deadline-wrapper-light{
    color: #111111;
    background-color: var(--background-color-light-secondary);
}

#upcoming-deadline-wrapper{
    max-height: 65vh;
    padding: 2% 0 2% 0;
}

#upcoming-deadline-wrapper .header{
    padding: 0 0 1% 1%;
}

/* Table */
#deadline-table{
    width: 98%;
    margin-left: 1%;
    border-radius: 3px;
}

.deadline-table-dark{
    background-color: var(--background-color-dark-alternate);
}

.deadline-table-light{
    background-color: var(--background-color-light-alternate);
}

.deadline-table-head{
    padding: 10px;
    border-bottom: 4px solid var(--background-color-dark-secondary);
}

.deadline-table-head ul{
    display: flex;
    flex-direction: row;
}

.deadline-table-rows{
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.deadline-table-row{
    display: flex;
    flex-direction: row;
    padding: 1%;
    border-bottom: 2px solid var(--background-color-dark-secondary);

}

/* Status select */
.status-select{
    height: 25px;
    border-radius: 5px;
    border: transparent;
}

option::selection{
    border: transparent;
}


.select-dark{
    color: white;
}

.select-light{
    color: #111111;
}

.status-option-done-dark{
    background-color: #0F4F31;
}

.status-option-progress-dark{
    background-color: #3157C0;
}

.status-option-not-started-dark{
    background-color: #902BF5;
}

.status-option-done-light{
    background-color: #3f725a;
}

.status-option-progress-light{
    background-color: #6f89d3;
}

.status-option-not-started-light{
    background-color: #b16bf8;
}

/* Priority select */
.priority-select{
    height: 25px;
    border-radius: 5px;
    border: transparent;
}

.priority-option-low-dark{
    background-color: #0F4F31;
}

.priority-option-med-dark{
    background-color: #FED219;
}

.priority-option-high-dark{
    background-color: #B42929;
}

.priority-option-low-light{
    background-color: #3f725a;
}

.priority-option-med-light{
    background-color: #fee05e;
}

.priority-option-high-light{
    background-color: #bc3e3e;
}

/* Table columns */
.col-1{
    display: flex;
    align-items: center;
    min-width: 40%;
    max-width: 40%;
}

.col-2{
    display: flex;
    align-items: center;
    width: 15%;
}

.col-3{
    display: flex;
    align-items: center;
    width: 15%;
}

.col-4{
    display: flex;
    align-items: center;
    width: 15%;
    padding-right: 15px;
}

.col-5{
    display: flex;
    align-items: center;
    width: 15%;
    padding-right: 15px;
}




