.teams-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: 100%;
}

.teams-header-dark{
    color: white;
    background-color: var(--background-color-dark-secondary);
}

.teams-header-light{
    color: #111111;
    background-color: var(--background-color-light-primary);
}

.teams-header-left{
    width: 20%;
    margin-left: 2.5%;
}

#team-select{
    height: 40px;
    border-radius: 5px;
    border: none;
}

.team-select-dark{
    color: white;
    background-color: var(--background-color-dark-alternate);
}

.team-select-light{
    color: #111111;
    background-color: var(--background-color-light-secondary);
}

