#employee-dashboard {
    color: white;
}

/* Toolbar */
#employee-dashboard .toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 0 0 0 5%;
    background-color: #0F0E14;
}

#employee-dashboard .toolbar-left{
    width: 60%;
}

#employee-dashboard .toolbar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5% 0 5%;
    width: 40%;
}

/* Toolbar Icons */
#animated-notification{
    width: 50px;
}
#employee-dashboard .toolbar .icon{
    height: 30px;
    width: 30px;
}