#employee-dashboard{
    overflow: hidden;
}

/* Toolbar */
#employee-dashboard .toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 0 0 0 1%;
}

.toolbar-dark{
    color: white;
    background-color: #0F0E14;
}

.toolbar-light{
    color: #111111;
    background-color: #6D7076;
}

#employee-dashboard .toolbar-left{
    width: 75%;
}

#employee-dashboard .toolbar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5% 0 5%;
    width: 25%;
}

/* Toolbar Icons */
#animated-notification{
    width: 50px;
}
#employee-dashboard .toolbar .icon{
    height: 30px;
    width: 30px;
}

#employee-dashboard .icon:hover{
    cursor: pointer;
}
